/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #prn{
    background-color: white;
}
#password{
    background-color: white;
} */
.Submit{
    display: flex;
    justify-content: center;
}
#title{
    display: flex;
    justify-content: center;
}
/* Custom styles */
body {
    /* background-color: #d4dee5; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.bg-zinc-800 {
    background-color: #303A41;
}

.p-8 {
    padding: 2rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.w-96 {
    width: 24rem;
}

.text-white {
    color: #ffffff;
}

.text-2xl {
    font-size: 1.5rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.border-b {
    border-bottom: 1px solid #4A5568;
}

.pb-2 {
    padding-bottom: 0.5rem;
}
/* .contents{
    display:block;
    justify-content: center;
} */
/* label{
    padding-top: 10px;
    padding-bottom: 10px;
} */
.input-field {
    display: flex;
    justify-items: center;
    width: 100%;
    padding: 0.5rem;
    background-color:white;
    color: #ffffff;
    border: none;
    border-radius: 0.25rem;
    outline: none;
    transition: border-color 0.2s ease-in-out;
    margin-bottom: 20px;
   
}

.input-field:focus {
    border-color: #F59E0B;
}

.btn-login {
    display: flex;
    justify-content: center;
    width: 30%;
    background-color: #F59E0B;
    color: #ffffff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease-in-out;
}

.btn-login:hover {
    background-color: #D97706;
}
